
* {
    font-family: "Lato", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

.main-hero-img {
    background: url('../assets/hero-bg.webp') no-repeat fixed center ;
    height: 300px;
}

.carousel-box {
    width: auto;
    height: 300px;
}

.w-full {
    width: 100%;
}

.w-80 {
    width: 80%;

}

.kontek {
    display: flex;
    margin-top: 20px;
}

.kontek h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

.kontek span {
    font-family: sans-serif;
    
}

.kontek iframe{
    margin-top: 10px;
    width: 70%;
    height: 70%;
}
/* Style untuk kontainer utama */
.contact-container {
    text-align: left;
    margin-left: 20px;
}

/* Style untuk judul halaman */
.contact-container h1 {
    font-size: 34px;
    margin-bottom: 10px;
}

/* Style untuk teks deskripsi */
.contact-container p {
    margin-bottom: 20px;
}

/* Style untuk formulir kontak */
.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

/* Style untuk grup elemen dalam formulir */
.form-group {
    margin-bottom: 15px;
}

/* Style untuk label form */
.form-group label {
    display: block;
    margin-bottom: 5px;
}

/* Style untuk input dan textarea dalam form */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 150%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style untuk tombol Kirim */
.contact-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Style hover untuk tombol Kirim */
.contact-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.carousel-item-position {
    left: 10%;
    top: 40%;
    width: 38%;
    color: #fff;
}

.page-header {
    background-color: rgb(97 125 165);
}

.p-8 {
    padding: 1rem;
}

.vertical-margin {
    margin-top: 3rem;
    margin-bottom: 1.2rem;
}


.text-about {
    color: #cee8ff;
}